.page-wrapper {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

/* Dropdown arrows in tasks */
select.form-select:disabled {
  background-image: none;
}
